<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<title>家計簿app</title>
</head>
<body>
<div layout:fragment="contents">

<div style="text-align:center">
<h2>今月収支一覧</h2>
<br>
<h4>収支合計　＝　○○円</h4>
</div>

<br>
<div style="text-align:center">
<h2 th:text="${#temporals.format(nowDate, 'MM月')}"></h2>
<br>
</div>

<div style="text-align:center">
<h3>今月収入</h3>
<h4>収入合計　＝　○○円</h4>
<br>

<table class="table" >

<thead>
	<tr>
	<th scope="col">日付</th>
	<th scope="col">金額</th>
	<th scope="col">メモ</th>
	<th scope="col">#</th>
	</tr>
</thead>

<tbody th:each="income:${incomelist}" th:object="${income}">
	<tr>
	<td th:text="*{datetime}"></td>
	<td th:text="*{incomeAmount}"></td>
	<td th:text="*{memo}"></td>
	<td>
		<a th:href="@{|/editIncome/*{id}|}">変更</a>
	</td>		
	</tr>
</tbody>

</table>

<h3>今月支出</h3>
<h4>支出合計　＝　○○円</h4>
<br>

<table class="table" >

<thead>
	<tr>
	<th scope="col">日付</th>
	<th scope="col">金額</th>
	<th scope="col">メモ</th>
	<th scope="col">#</th>
	</tr>
</thead>

<tbody th:each="spending:${spendinglist}" th:object="${spending}">
	<tr>
	<td th:text="*{datetime}"></td>
	<td th:text="*{spendingAmount}"></td>
	<td th:text="*{memo}"></td>
	<td>
		<a th:href="@{|/editSpending/*{id}|}">変更</a>
	</td>		
	</tr>
</tbody>

</table>

</div>
</div>
</body>
</html>