<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>ホーム</title>
</head>
<body>
<div layout:fragment="contents">

<div style= "text-align:center">

<div class="spinner-grow text-primary" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>

<h1><span class="badge bg-secondary">ようこそ！家計簿アプリへ(何の文字が出ているでしょう！)</span></h1>

<div class="spinner-grow text-primary" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="visually-hidden">YAMADA</span>
</div>

</div>

</div>
</body>
</html>