<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>家計簿app</title>
</head>
<body>
<div layout:fragment="contents">

<form th:action="@{/loginForm}" method="post">
	<div class="row mb-3" th:if="${param.error}">
		<div class="offset-2 col-6">
			<div class="card">
				<div class="card-body">
					ユーザIDもしくはパスワードが違います。
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label for="username" class="offset-3 col-2 col-form-label">ユーザネーム</label>
		<div class="col-4">
			<input type="text" name="username" id="username" autofocus class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<label for="password" class="offset-3 col-2 col-form-label">パスワード</label>
		<div class="col-4">
			<input type="password" name="password" id="password" class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<div class="offset-5 col-4">
			<input type="submit" class="btn btn-primary" value="ログイン">
		</div>
	</div>
</form>

</div>
</body>
</html>